In [ ]:
#filter data to 2021

In [7]:
import pandas as pd
import numpy as np
import pyreadr

In [9]:
import pyreadr

# Define the file path
file_path = "/Users/user1/Documents/get_rate_backseries/input_data/full_modelled_estimates_series_EW(2023_geog).rds"

# Read the .rds file
result = pyreadr.read_r(file_path)

# Extract the DataFrame (assuming there's only one dataset inside the file)
df = list(result.values())[0]

# Display the first few rows
print(df.head())

    gss_code    gss_name     sex    year  age   component  value
0  E06000001  Hartlepool  female  2001.0  0.0  population  519.0
1  E06000001  Hartlepool  female  2001.0  1.0  population  550.0
2  E06000001  Hartlepool  female  2001.0  2.0  population  548.0
3  E06000001  Hartlepool  female  2001.0  3.0  population  523.0
4  E06000001  Hartlepool  female  2001.0  4.0  population  589.0

In [10]:
#filter the data year 2021
df_2021 = df[df['year'] == 2021]
print(df_2021.head())

          gss_code    gss_name     sex    year  age component  value
5266725  E06000001  Hartlepool  female  2021.0  0.0    births  436.0
5266735  E06000001  Hartlepool  female  2021.0  1.0    births    0.0
5266745  E06000001  Hartlepool  female  2021.0  2.0    births    0.0
5266755  E06000001  Hartlepool  female  2021.0  3.0    births    0.0
5266765  E06000001  Hartlepool  female  2021.0  4.0    births    0.0

In [11]:
#filter component = births
df_births_2021 = df_2021[df_2021['component'] == 'births']
#filter component = population
df_population_2021 = df_2021[df_2021['component'] == 'population']

In [13]:
# Define file paths
births_rds_path = "/Users/user1/Documents/get_rate_backseries/input_data/2021/births_2021.rds"
population_rds_path = "/Users/user1/Documents/get_rate_backseries/input_data/2021/population_2021.rds"

# Save DataFrames to .rds format
pyreadr.write_rds(births_rds_path, df_births_2021)
pyreadr.write_rds(population_rds_path, df_population_2021)

In [1]:
import pyreadr

# Define the file path
file_path = "/Users/user1/Documents/get_rate_backseries/input_data/2021/origin_destination_2002_2022_(2023_geog).rds"

# Read the .rds file
result = pyreadr.read_r(file_path)

# Extract the DataFrame (assuming there's only one dataset inside the file)
df = list(result.values())[0]

# Display the first few rows
print(df.head())

     gss_out     gss_in    year     sex  age   value
0  E06000003  E06000001  2002.0  female  0.0  2.3626
1  E06000004  E06000001  2002.0  female  0.0  1.1813
2  E06000005  E06000001  2002.0  female  0.0  1.0617
3  E06000009  E06000001  2002.0  female  0.0  0.1647
4  E06000010  E06000001  2002.0  female  0.0  0.1887

In [3]:
#check memeory usage of the dataframe
print(df.memory_usage(deep=True))

Index              132
gss_out    10642543540
gss_in     10642543540
year        1467937040
sex         9909096066
age         1467937040
value       1467937040
dtype: int64

In [4]:
print(df.info(memory_usage='deep'))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183492130 entries, 0 to 183492129
Data columns (total 6 columns):
 #   Column   Dtype
---  ------   -----
 0   gss_out  object
 1   gss_in   object
 2   year     float64
 3   sex      object
 4   age      float64
 5   value    float64
dtypes: float64(3), object(3)
memory usage: 33.2 GB
None

In [5]:
for col in ['gss_out', 'gss_in', 'sex']:  
    df[col] = df[col].astype('category')

In [8]:
df['year'] = pd.to_numeric(df['year'], downcast='integer')
df['age'] = pd.to_numeric(df['age'], downcast='integer')

In [12]:
df['value'] = pd.to_numeric(df['value'], downcast='float')

In [13]:
print(df.memory_usage(deep=True))
print(df.dtypes)

Index            132
gss_out    367011116
gss_in     367011116
year       366984260
sex        183492346
age        183492130
value      733968520
dtype: int64
gss_out    category
gss_in     category
year          int16
sex        category
age            int8
value       float32
dtype: object

In [16]:
df

             gss_out     gss_in  year     sex  age   value
0          E06000003  E06000001  2002  female    0  2.3626
1          E06000004  E06000001  2002  female    0  1.1813
2          E06000005  E06000001  2002  female    0  1.0617
3          E06000009  E06000001  2002  female    0  0.1647
4          E06000010  E06000001  2002  female    0  0.1887
...              ...        ...   ...     ...  ...     ...
183492125  W06000024  W06000023  2022    male   86  0.0000
183492126  W06000024  W06000023  2022    male   87  0.0000
183492127  W06000024  W06000023  2022    male   88  0.0000
183492128  W06000024  W06000023  2022    male   89  0.0000
183492129  W06000024  W06000023  2022    male   90  0.0000

[183492130 rows x 6 columns]

In [15]:
#save as csv
df.to_csv('/Users/user1/Documents/get_rate_backseries/input_data/2021/origin_destination_2002_2022_(2023_geog)_reduced_mem.csv', index=False)